@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk&family=Varela+Round&display=swap');
.vacation-title-row {
    margin-bottom: 40px;
    text-align: center;
}

.vacation-heading {
    font-family: "Lora", serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: #1f2937;
    line-height: 1.2;
    margin: 0 auto 10px;
    max-width: 500px;
}
.VacationsectionContainer{
    background-color: #F6F4EE;
    padding: 5rem 4rem;
}

.vacation-cards-row {
    margin-top: 20px;
}

.vacationsection-card {
    /* background: #ffffff; */
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 20px;
    overflow: hidden;
    height: 100%;
    /* Important for equal height cards in a row */
    text-align: center;
}



/* .card-image-wrapper {
    width: 100%;
    height: 250px; 
    overflow: hidden;
    margin-bottom: 20px;
} */

.card-image {
    width: 50px;
    height: 100%;
    object-fit: cover;

}


.vacationsection-card h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.vacationsection-card p {
    font-size: 1rem;
    color: #6b7280;
    padding: 10px;
    margin: 0;
    letter-spacing: 0.5px;
 font-family: "IBM Plex Sans", sans-serif;
}

@media (max-width: 768px) {
  .vacation-heading{
    font-size: 2rem;
  }
  .VacationsectionContainer{
    padding: 2rem 2rem;
  }
}
