.AboutSectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

/* Heading Style */
.AboutSectionContainerheading h1 {
    font-size: 36px;
    font-weight: 700;
    color: #222;
    margin-bottom: 25px;
    position: relative;
}


/* Paragraph Container */
.AboutSectionContainerparagraph ul {
    padding: 0;
    margin: 0;
    /* list-style: none; */
}

/* Paragraph Style */
.AboutSectionContainerparagraph li {
    margin-bottom: 15px;
}

.AboutSectionContainerparagraph p {
    font-size: 20px;
    line-height: 1.5;
    color: black;
    text-align: justify;
    letter-spacing: 0.3px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.AboutSectionContainervideo  video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Responsive */
@media (max-width: 992px) {
    .Sectionpadding {
        padding: 50px 30px;
    }

    .AboutSectionContainerheading h1 {
        font-size: 30px;
    }

    .AboutSectionContainerparagraph p {
        font-size: 20px !important;
        line-break: anywhere;
    }
    .AboutSectionContainervideo  video{
        width: 100% !important;
        height: 100% !important;
    }
}

