.Swiperimgsection img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-btn-left {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 3px;
}

.swiper-btn-right {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 3px;
}

.swiper-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
    gap: 10px;

}