.details-wrapper {
    /* max-width: 1100px; */
    margin: 50px auto;
    padding: 20px;
}

/* LEFT IMAGE */
.details-img {
    width: 100%;
    height: 430px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
}


.details-content h1 {
    font-size: 2rem;
    font-family: "Lora";
    color: #633a20;
    margin-bottom: 10px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #a8744f;
    margin: 8px 0 15px 0;
}

.details-content p {
    font-size: 18px;
    line-height: 1.6;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

.details-content ul {
    margin-left: 20px;
    font-size: 17px;
    line-height: 1.5;
}

.description {
    margin-top: 15px;
    opacity: 0.9;
    width: 100%;
}

/* Button */
.details-btn {
      background: #882A21;
    color: #fff;
    border: none;
    margin-top: 20px;
    padding: 14px 30px;
    font-size: 16px;
    /* border-radius: 10px; */
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1px;
}

.Backgroundcolor-section {
    background-image: url('/img.png/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;      /* full page cover karega */
    background-position: center; /* center me focus */
    width: 100%;
    min-height: 100vh;           /* full screen height */
    padding: 40px 0;             /* thoda spacing */
}




/* RESPONSIVE FIX */
@media (max-width: 768px) {
    .details-img {
        height: 250px;
    }

    .details-content h1 {
        font-size: 1.6rem;
    }

    .details-wrapper {
        padding: 10px;
    }
}