.details-wrapper {
    /* max-width: 1100px; */
    margin: 50px auto;
  padding: 5rem 4rem;
}

/* LEFT IMAGE */
.details-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}


.details-content h1 {
    font-size: 2rem;
    font-family: "Lora";
    color: #633a20;
    margin-bottom: 10px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #a8744f;
    margin: 8px 0 15px 0;
}

.details-content p {
    font-size: 18px;
    line-height: 1.6;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

.details-content ul {
    margin-left: 20px;
    font-size: 17px;
    line-height: 1.5;
}

.description {
    margin-top: 15px;
    opacity: 0.9;
    width: 100%;
}

/* Button */
.details-btn {
    background: #882A21;
    color: #fff;
    border: none;
    margin-top: 20px;
    padding: 14px 30px;
    font-size: 16px;
    /* border-radius: 10px; */
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1px;
    width: 30vhm;
}

.Backgroundcolor-section {
     background-image: url('https://img.freepik.com/free-vector/white-background-with-hexagonal-line-pattern-design_1017-28442.jpg?t=st=1764752361~exp=1764755961~hmac=a247e3df3ff0404c43e231b832edb46a203cc06b95d5ef05dc50a0d9abdbc1f8&w=1480');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;

}


@media (max-width: 768px) {
    .details-img {
        height: 250px;
    }

    .details-content h1 {
        font-size: 1.6rem;
    }

    .details-wrapper {
        padding: 10px;
    }
}

@media (max-width: 900px) {
    .details-wrapper{
        padding: 2rem ;
    }
    .details-img{
width: 100%;
height: 100%;
object-fit: cover;
    }
}
