.hero-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Swiper main styling */
.mySwiper {
    width: 100%;
    height: 100%;
}

.slide-content {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Each slide image full width & height */
.slide-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Black overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    /* black shadow */
}

/* Text inside slide */
.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    animation: fadeUp 1.2s ease;
}

.subtitle {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 30px;
}

/* Button design */
.btn-book {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 30px;
    font-size: 1.2rem;
    border: none;
    background-color: #882A21;
    color: #fff;
    cursor: pointer;
    width: 180px;
    height: 45px;
    /* border-radius: 8px; */
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Icon wrapper */
.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    font-size: 20px;
}

/* Hover effect – icon slide right */
.btn-book:hover .btn-icon {
    transform: translateX(6px);
}

/* Click effect – icon bounce */
.btn-book:active .btn-icon {
    transform: scale(1.3);
}

/* Simple Fade Animation */
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


/* Pagination styling */
.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    opacity: 0.8;
    transition: all 0.3s ease;
    display: none;
}

.swiper-pagination-bullet-active {
    background: #fff;
    color: #000;
    opacity: 1;
    transform: scale(1.2);
}

.swiper-pagination {
    bottom: 20px !important;
}

@media (max-width: 900px) {
    .text-box h1 {
        font-size: 2rem;
        width: 100% !important;
        /* display: flex; */
    }

    .subtitle {
        font-size: 1.3rem;
        margin: 15px 0;
        width: 100%;
    }

    .btn-book {
        padding: 12px 25px;
        font-size: 1.2rem;
        width: 188px;
        height: 47px;
    }

    .btn-icon {
        font-size: 18px;
    }
    .text-box{
        width: 100%;
    }
}