@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk&family=Varela+Round&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 1px;
}

.ant-col-lg-12{
    flex: none !important;
    max-width: none !importantm;
}