.rooms-header {
    width: 100%;
    margin-bottom: 40px;
}

.rooms-heading {
    font-size: 1.8rem;
    color: #8A5A2E;
    font-family: "Lora", serif;
    margin-bottom: 10px;
}

.rooms-subtitle {
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    color: #555;
    /* max-width: 600px; */
    width: 42vw;
    line-height: 1.3;
    letter-spacing: 1px;
}

.rooms-header-left {
    margin-top: 40px;
}

.RoomSection-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 30px;
}

.RoomSection-card {
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
}

.RoomSection-fav {
    position: absolute;
    /* top: 10px; */
    right: 15px;
    height: 35px;
    width: 35px;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(6px);
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.RoomSection-fav-icon {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.RoomSection-card:hover {
    transform: translateY(-6px);
}

.RoomSection-img {
    width: 100%;
    height: 45vh;
    border-radius: 5px;
    object-fit: cover;
}


.RoomSection-content {
    padding: 20px;
}

.RoomSection-title {
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.RoomSection-description {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 15px;
}


.RoomSection-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #8A5A2E;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.95rem;
    transition: background-color 0.3s ease;
}

.RoomSection-btn:hover {
    background-color: #6f451f;
}