.title {
    font-size: 2rem;
    color: #8A5A2E;
    font-family: 'Lora', serif;
}

.room-card {
    background: #fff;
    border-radius: 12px;
    /* overflow: hidden; */
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.room-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}


.room-img {
    display: grid;
    /* grid-template-columns: 3fr 3fr 3fr; */
    width: 100%;
    height: 350px !important;
    object-fit: cover;
}



.room-title {
    font-size: 1.3rem;
    font-family: 'Lora', serif;
    margin-bottom: 7px;
}

.room-price {
    font-size: 1rem;
    color: #8A5A2E;
    font-weight: bold;
    margin-bottom: 10px;
}

.room-size,
.room-capacity {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.room-btn {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background: #8A5A2E;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: 0.3s ease;
}

.room-btn:hover {
    background-color: #6f4522;
}


